@import url("https://fonts.googleapis.com/css2?family=Raleway");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke; 
    font-family: "Railway", sans-serif;
}
html, body { height: 100%; }

