<div class="Page">

    <app-nav-bar></app-nav-bar>

    <div class="BegrippenlijstDiv">
        <!-- makes a list of concepts on the home page visible -->>
        <div class="ListItem" *ngFor="let Item of Concepts; let i = index">
            <div class="ItemRow">
                <a class="Button" (click)="MoreData(i)">V</a>
                <p>{{Item.Title}}</p> 

            </div>
            <div id={{i.toString()}} class="Context">
                <div *ngIf="staticVar.Lang === 'NL'"> {{Item.Dutch_Version}} </div>
                <div *ngIf="staticVar.Lang === 'EN'"> {{Item.English_Version}} </div>
            </div>
        </div>
    </div>
</div>