.Page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
}

.BegrippenlijstDiv{
    display: flex;
    margin-top: 40px;
    flex:1;
    align-items: center;
    flex-direction: column;
}

.ListItem{
    background-color: #fff265;
    width: 60%;
    text-align: center;
    font-size: 22px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
}

.addConcept{
    margin-bottom: 10px;

}
.ItemRow{
    display: flex;
    align-items: center;
    p {
        margin-left: 2%;
    }
}

.OutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ec644a;
}

.OutButton:hover {
    background-color: #ff8269;
}

.ConceptAddon{
    margin-left: auto;

    button {
        height: 50px;
        width: 50px;
    }
}

.Context{
    display: none;
    padding-top: 10px;
    padding-bottom: 13px;
    text-align: left;
    background-color: #fff7a0
    
}

.AddNew{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff8269;
    font-size: 20px;
    margin: 5px;
}

.AddNewCollums{
    display:  none;
    flex-direction: column;
    justify-content: center;
}

.AddNewTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.TextInput{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.addConcept {
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}