<nav>
    <!-- Sets up the navigation bar-->
    <div class="DivContent">
        <!-- adds the logo of the school and also makes it a clickable button-->
        <a href="/Login"> <img src="../../assets/Fotos/logo-vista-college.png" 
            class="logo" 
            height="60px"
            alt="VistaLogo"/> </a>
            <!-- adds the two buttons to switch from language.-->
        <div class="ButtonList">
            <div class="Right">
            <button class="NL" (click)="ToNL()"></button>
            <button class="EN" (click)="ToEN()"></button>
        </div>
    </div>
    </div>
</nav>
